.panel.panel-default
  .panel-heading= link_to campaign.name, campaign
  .panel-body
    %dl.dl-horizontal
      %dt Description
      %dd= simple_format(campaign.description)

      %dt Gamemaster
      %dd= campaign.gamemaster.name

      %dt Last Updated
      %dd= campaign.updated_at.strftime("%A, %F %H:%M")